h1{
    color: blue;
}

button {
    background-color: green;
}

*{
    color: white;
    background-color: aqua;
}

.box{
    background-color: azure;
    border: 2px solid;
    height: 200px;
    width: 200px;
    color: black;
    margin: 5px;
    text-align: center;
}