*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #504746;
    text-align: center;
}

#heading{
    margin-top: 1rem;
    color: #BFADA3;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
}

.box{
    height: 18vh;
    width: 18vh;
    border: none;
    font-size: 12vh;
    border-radius: 1rem;
    color: #B89685;
    background-color: #B6244F;
}

#reset-btn{
    padding: 1rem;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    background-color: black;
    border: none;
    border-radius: 0.8rem;
}

#msg{
    height: 10vh;
    font-size: 4vmin;
    font-family: 'Times New Roman', Times, serif;
    color: #2ecc71;
}

.box.win {
    background-color: #2ecc71;
    color: #000;
    box-shadow: 0 0 15px #2ecc71;
}
