*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #355070;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
}

.box{
    height: 18vh;
    width: 18vh;
    border: #6D597A 10px;
}