.button{
    margin-top: 20%;
    display: flex;
    justify-content: center;
}

button{
    height: 3rem;
    width: 8rem;
    background-color: rgb(110, 31, 184);
    color: white;
    font-weight: bold;
    border-radius: 0.8rem;
    cursor: pointer;
}

button:hover{
    background-color: rgb(24, 187, 24);
}

.paragraph{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

p{
    font-size: large;
}